[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CorMID"]
	path = CorMID
	url = https://github.com/janlisec/cormid
[submodule "CorrectOverloadedPeaks"]
	path = CorrectOverloadedPeaks
	url = https://github.com/janlisec/correctoverloadedpeaks
[submodule "HiResTEC"]
	path = HiResTEC
	url = https://github.com/janlisec/hirestec
[submodule "InterpretMSSpectrum"]
	path = InterpretMSSpectrum
	url = https://github.com/janlisec/interpretmsspectrum
[submodule "IsoCor"]
	path = IsoCor
	url = https://github.com/janlisec/isocor
[submodule "MetabolomicsBasics"]
	path = MetabolomicsBasics
	url = https://github.com/janlisec/metabolomicsbasics
[submodule "eCerto"]
	path = eCerto
	url = https://github.com/janlisec/ecerto
